* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.parallax {
    position: relative;
    height: 100vh; /* Full height of the viewport */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Parallax effect */
    display: flex;
    justify-content: center;
    align-items: center;
}
.img1 {
    background-image: url('https://i.pinimg.com/736x/fc/bf/ae/fcbfaedbfbf56c542e0fff2030de3cc1.jpg');
}
.img2 {
    background-image: url('https://i.pinimg.com/736x/11/80/36/11803693cdba27b96c42318d807c972c.jpg');
}

.parallax h1 {
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}

.content {
    padding: 50px;
    text-align: center;
    font-size: 1.5rem;
    background-color: white;
}