* {
    margin: 0; /*set none margin*/
    padding: 0; /*set web none padding*/
    box-sizing: border-box;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    position: sticky;
    font-family: initial;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #46636c;
}

.active {
    background-color: #000;
}


/* */

.parallax {
    background-color: #36453b;
    height: 50vh;
    position: relative; /*same position*/
    background-size: cover; /*resize screen*/
    background-position: center; /*bacground image must be center*/
    background-attachment: fixed; /* Parallax effect */
    display: flex; /*can put text on*/
 }
 